*.log
*.trs
/it_test_copy_rbox
/it_test_dict_rados
/it_test_lda_rbox
/it_test_doveadm_backup_rbox
/it_test_librmb
/it_test_move_rbox
/it_test_read_mail_rbox
/it_test_storage_rbox
/it_test_sync_rbox
/it_test_sync_rbox_2
/test_librmb_utils
/test_rmb
/test_storage_mock_rbox
/it_test_copy_rbox_alt
/it_test_copy_rbox_fail
/it_test_move_rbox_alt
/it_test_read_mail_failed_rbox
/it_test_read_mail_rbox_alt
/it_test_sync_rbox_alt
/it_test_sync_rbox_duplicate_uid
