.settings/org.eclipse.cdt.ui.prefs
dovecot-rados-plugin-config.h
# eclipse project files
.vscode/
.project
.cproject
.autotools
**/cscope*

# http://www.gnu.org/software/automake

Makefile.in
Makefile
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/config.log
/config.rpath
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
*.in

# https://www.gnu.org/software/libtool/

/ltmain.sh
libtool

# http://www.gnu.org/software/texinfo

/texinfo.tex

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
.libs
.deps

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.settings/
/dovecot/
/build-aux/
/run-test.sh
/config-local.h.in~
/config-local.h
/dovecot-rados-plugins-config.h
.ptp-sync
.ptp-sync-folder

/dovecot-ceph-plugins-config.h

.dirstamp
.README.md.html

/dovecot-ceph-plugin-config.h
/dovecot-ceph-plugin-*.tar.*
/*.tar
/*.patch
/*.log
*.rej
*.orig

#doxygen
docs-generated/
