sudo: required
language: cpp
services:
  - docker

env:
  - DOVECOT_TAG="release-2.2.21"
  - DOVECOT_TAG="release-2.2.32"
  - DOVECOT_TAG="master-2.2"
  - DOVECOT_TAG="master"

before_install:
  - docker run -itd --name build -v $(pwd):/repo ubuntu:latest sh           
  - docker exec build apt-get -qq update
  - git clone https://github.com/dovecot/core.git dovecot
  
install:
  - docker exec build apt-get install -qq -y build-essential apt-utils git gettext automake autoconf autotools-dev libtool wget pkg-config pandoc libssl-dev librados-dev  
  - cd dovecot; git checkout $DOVECOT_TAG
  - docker exec build sh -c 'cd repo/dovecot; ./autogen.sh && ./configure --enable-maintainer-mode --enable-devel-checks'
  - docker exec build sh -c 'cd repo/dovecot; make clean install'

script:
  - docker exec build sh -c 'cd repo; ./autogen.sh'
  - docker exec build sh -c 'cd repo; ./configure --with-dovecot=$(pwd)/dovecot --enable-maintainer-mode --enable-debug'
  - docker exec build sh -c 'cd repo; make clean all'
  - docker exec build sh -c 'cd repo; make check TESTS=test_\*'
