# cpplint settings. See scripts/check_style.sh and scripts/cpplint
# These settings can be overridden in any subfolder by placing a CPPLINT.cfg file in it

set noparent

filter=-build/include_subdir

linelength=120
